<div class="page-header">
  <%= link_to new_kid_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Kid
  <% end %>
  <h1>Listing kids</h1>
</div>

<%= render "kids_table", kids: @kids %>
