<div class="home-content">
  <div class="col-md-4 no-padding">
    <div class="scrollview">
      <% @addresses.each do |address| %>
        <div class="scrollview-item">
          <a href="#" onclick="centerOnMarker(<%= address.id %>);"><%= address.full_street_address %></a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-8 no-padding">
    <div class="map-wrapper">
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div id="map"
           data-latitude="<%= @current_location.latitude %>"
           data-longitude="<%= @current_location.longitude %>"></div>
     </div>
  </div>
</div>
