<div class="page-header">
  <%= link_to @customer, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing customer</h1>
</div>

<%= render 'form' %>
