<div class="page-header">
  <%%= link_to :back, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <%% end %>
  <h1>New <%= singular_table_name %></h1>
</div>

<%%= render 'form' %>
