<div class="page-header">
  <%= link_to @parent, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing parent</h1>
</div>

<%= render 'form' %>
